a {
    text-decoration: none;
}
  
/* .tooltip{
    color: aquamarine;
} */

/* 
#root-body .post-title {
    padding: 3px 0 0px 0; 
    border-bottom: 1px solid #eeeded;
}

.post-source {
    list-style: none;
    background-color: aquamarine;
    color: aquamarine;
}

#root-body .posts-content {
    background-color: coral;
    color: aquamarine;
}

.post-item {
    padding: 3px 0 0px 0; 
    border-bottom: 1px solid #eeeded;
}

.color-change {
    background-color: blueviolet;
    color: blueviolet;
} */