{% extends 'base.htm' %}

{% block content %}    
<div class= "container" style="background-color: #f7fbfc;">
    {% for source_row in sources|batch(2) %}
    <div class="card-group">
        {% for source in source_row %}
        <div class="card border-light">
            <div class="card-body" style="background-color: #f7fbfc;">
                <div class="text-center card-title">
                    <a href="{{ source.uri }}" class="h3">
                        <span style="color:#0f4c75">{{ source.source_name }}</span>
                    </a>
                </div>
                <div>
                    <ul style="list-style: none;">
                        {% for post_heading, post_link in source.posts.items() %}
                            {% if loop.index < 7 %}
                            <li style="padding: 3px 0 0px 0; border-bottom: 1px solid #eeeded;">
                                {% if post_heading in source.posts_desc %}
                                    {% set post_description = source.posts_desc[post_heading][:200] %}
                                {% else %}
                                    {% set post_description = post_heading %}
                                {% endif %}
                                <a href="{{ post_link }}" target="_blank" class="card-link">
                                    <span style="color: #1b262c; font-size: 110%;" 
                                    data-placement="top" data-toggle="tooltip" data-html="true" 
                                    title="<em>hi</em>">
                                        {{post_heading|e}}
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}